<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 녹음 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 안드로이드 9 이하 버전에서 외부 저장소 쓰기 권한 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- 안드로이드 13 이하 버전에서 외부 저장소 읽기 권한 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- 안드로이드 13 이상 버전에서 오디오 파일 접근 권한 -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Joljag_v1_0"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".TaskCheckService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"/>

        <activity
            android:name=".DataTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RetrainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataLearningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PopupActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" /> <!-- MainActivity를 앱의 진입점으로 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service android:name=".BackgroundService" />
    </application>

</manifest>